---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

/**
 * getStaticPaths() is a function that is required for dynamic routes.
 * 
 * It creates in build-time these dynamic argumens, only these pages
 * will be generated. The rest of the pages will return a 404 error.
 * 
 * While we're in development mode, Astro will generate the pages
 * on the fly, and as a static function, every change in getStaticPaths()
 * needs full re-build this meaning down server and up again [npm run build].
 * 
 * When we run npm run build, Astro will generate the pages and store
 * them in the dist folder. Such as: 
 * 
 * dist/
 * └── pages
 *     └── pokemons
 *         └── bulbasaur [pokemon-name - from getStaticPaths()]
 *             └── index.html
 * 
 * And then we can serve the static files with a simple HTTP server.
 * 
 */

/**
 * Another way to define the getStaticPaths function.
 * 
 * export function getStaticPaths() {
 *     return [
 *         {params: {name: 'pikachu'}},
 *         ... more data ...
 *     ];
 * }
 */

// Another way to define the getStaticPaths function. Came from AstroSnipets.
/* export const getStaticPaths = (() => {
    return [
        {
            params: {name: 'bulbasaur'},
            props: {name: 'bulbasaur', id: '1'}
        },
        {
            params: {name: 'ivysaur'},
            props: {name: 'ivysaur', id: '2'}
        },
    ];
}) satisfies GetStaticPaths; */

/**
 * Astro.params is used exclusively for Dynamic Routing.
 * When you create a file with brackets "[]" in the name, such as:
 * [id].astro, Astro uses params to capture the values from url.
 * 
 * As an example, here we have dynamic route [name].astro and then
 * retrieve name from Astro.params. Astro.params looks like:
 * {"name": "bulbasaur"} if the url is /pokemons/bulbasaur.
 *
 */
const { name } = Astro.params;
const { id } = Astro.props;
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${ id }.ogg`;

/**
 * By the previous code, we've been creating as "static" pages, now
 * it's moment for create dinamically.
 * 
 * Static Site Generation (SSG).
 * SSG is a web dev startegy where web pages are generated at build time
 * rather than every time a user requests them.
 * In a traditional website (like WordPress), the server has to talk
 * to a db and "build" the pagre from scratch every time someone clicks
 * a link. With SSG pages are already built and sitting on a server (or
 * CDN), ready to be delivered instantly.
 * Is basically get pages ready before user request them.
 * 
 * So we been fetched data by some place and then built the array for
 * getStaticPaths function as return. In this case we fetched from pokeapi.
 * 
 * After run a npm run build we'll see that 151 pages were created for
 * follow SSG.
 */

export const getStaticPaths = ( async () => {
    const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
    const { results } = await response.json() as PokemonListResponse;
    const data = results.map(({ name, url }) => ({
        params: { name },
        props: {
            name,
            id: url.split('/')[6]
        }
    }));

    return data;
}) satisfies GetStaticPaths;

/**
 * CODE IMPROVEMENT!!!
 * By learnign way I used a too explicit syntax, but we can reduce
 * it and do something more clean and covers ES6+ standard.
 * 
 * - Instead of use ((pokemon) => ...) we can use simple array
 * destructuring by using: (({ name, url }) => ...). And use them.
 * 
 * - Match vars name in paths properties build. So, instead of
 * { name: name, id: url.split('/')[6] } should be:
 * { name, id: url.split ...}. Id should have been called that, but I canged just as a number.
 */

---

<MainLayout title="Pokemon Detail">
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-6xl capitalize">{name}</h1>
        </div>

        <PokemonCard 
            name={name}
            id={id}
        />

        <audio controls class="mt-5">
            <source src={ audioSrc } type="audio/ogg" />
            Your browser does not support the audio element.
        </audio>
    </section>

</MainLayout>

<style>
    /**
    * In previous version, Tailwind was often processed as a global 
    * PostCSS plugin that looked everything at once.
    *
    * Now in Tailwind V4 to make builds faster, prefers to process
    * CSS files independently. So it missing "context" and when Astro
    * hands that small <style> block to Tailwind; Tailwind sees text-blue-500
    * but doesn't have the "dictionary" (the theme) to know what
    * color actually maps to.
    *
    * Solution? @reference imports the "dictionary" of classes and
    * variables WITHOUT actually injecting all the Tailwind CSS code into
    * this component again. Keeping the file size small while giving @apply
    * the information it needs.
    *
    */ 
    @reference "../../styles/global.css";
    a {
        @apply hover:underline text-blue-500;
    }
</style>