---
/**
 * This section is called "Component Script" or Frontmatter.
 * It acts as the top level configuration and logic block for component.
 * You can import other components, define variables, functions, and more.
 * The content of this section is only executed once at build time.
 */ 
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

const currentDate = new Date().toLocaleDateString();
const currentTime = new Date().toLocaleTimeString();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Main Page</title>
	</head>
	<body>
		<Navbar />
		<h1>Main Page</h1>
		<p>Today's date is: {currentDate}</p>
		<p>Static time: {currentTime}</p>
		<p id="currentTime">Current time: </p>
		<Footer />

		<script>
			/**
			 * This section is for client-side JavaScript. 
			 * It will only run in the browser, and is not executed at build time.
			 */
			let timeElement = document.getElementById('currentTime') as HTMLParagraphElement;

			timeElement.textContent = `Current local time: ${new Date().toLocaleTimeString()}`;
		</script>
	</body>
</html>
