---
/**
 * This section is called "Component Script" or Frontmatter.
 * It acts as the top level configuration and logic block for component.
 * You can import other components, define variables, functions, and more.
 * The content of this section is only executed once at build time.
 */ 
const currentDate = new Date().toLocaleDateString();
const currentTime = new Date().toLocaleTimeString();
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home Page">
	<h1>Home Page</h1>
	<p>Today's date is: {currentDate}</p>
	<p>Static time: {currentTime}</p>
	<p id="currentTime">Current time: </p>

	<script>
		/**
		 * This section is for client-side JavaScript. 
		 * It will only run in the browser, and is not executed at build time.
		 */
		let timeElement = document.getElementById('currentTime') as HTMLParagraphElement;

		timeElement.textContent = `Current local time: ${new Date().toLocaleTimeString()}`;
	</script>
</MainLayout>
