---
import MainLayout from '../layouts/MainLayout.astro';
const title = 'Pokemon Static | Home';
---
<MainLayout title={title}>
	<h1 class="text-3xl">Welcome to the Pokémon Static Site!</h1>
</MainLayout>